@import '../../styles/main.scss';
@import '../../styles/mixin.scss';
@font-face {
  font-family: 'iconfont';
  src: url('../../../public/iconFont/homeOpen/iconfont.eot');
  src: url('../../../public/iconFont/homeOpen/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../../../public/iconFont/homeOpen/iconfont.woff') format('woff'),
    url('../../../public/iconFont/homeOpen/iconfont.ttf') format('truetype'),
    url('../../../public/iconFont/homeOpen/iconfont.svg#iconfont') format('svg');
}

.homeContainer {
    width: 100%;
    flex: 1;
    position: relative;
    .open {
        position: absolute;
        top: px2rem(35);
        left: px2rem(40);
        @include divWH(px2rem(70), px2rem(70));
        background-color: #fff;
        border-radius: px2rem(35);
        @include flex(center);
        align-items: flex-end;
        cursor: pointer;
        transition: all 300ms ease;
        .iconfont {
            font-family: "iconfont" !important;
            font-size: px2rem(48);
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    .open:hover {
        transition: all 300ms ease;
        width: px2rem(300);
    }
    .openNew {
        position: absolute;
        top: px2rem(35);
        left: px2rem(40);
        @include divWH(90%, 44rem);
        background-color: #fff;
        // border-radius: px2rem(35);
        // @include flex(center);
        // align-items: flex-end;
        cursor: pointer;
        transition: all 300ms ease;
        @include flex(space-bettween);
        flex-wrap: nowrap;
        z-index: 1;
        .iconfont {
          font-family: "iconfont" !important;
          font-size: px2rem(48);
          font-style: normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;
        }
    }
    .me {
        width: px2rem(800);
        height: px2rem(480);
        position: absolute;
        top: px2rem(250);
        cursor: pointer;
        z-index: 1;
    }
    .words {
        @include divWH(px2rem(1400), px2rem(600));
        position: absolute;
        top: 0;
        right: px2rem(100);
        transition: all 600ms ease;
        .arrow { 
            @include divWH(px2rem(0), px2rem(0));
            font-size:0;
            border:solid px2rem(60);
            border-color: transparent white white transparent;
            margin-top: px2rem(230);
            margin-left: px2rem(30);
        }
        .content {
            @include divWH(px2rem(1200), px2rem(600));
            background-color: #fff;
            border-radius: 50%;
            margin-left: px2rem(-40);
            padding: px2rem(150);
            p {
                line-height: px2rem(70);
                @include fontSC(px2rem(25), black);
            }
            
        }
        div {
            float: left;
        }
    }
}