body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-family: "Microsoft Yahei", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: hidden;
  &:focus {
    outline: none;
  }
}

div {
  
}
:global {
  html, body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    // display: table;
    height: auto;
    width: 100%;
    z-index: 100000;
  }
}

